{% extends 'base.html' %}

{% block title %} {{ product.title }} {% endblock %}

{% block content %}

<div class="row mt-5">
    <div class="col-12">
        <div>
            <h1>{{ product.title }}</h1>
            <span class="badge rounded-pill bg-secondary text-capitalize mb-1">
                {{ product.category.name }}
            </span>
            <h4>₹{{ product.price }}</h4>
            <p>{{ product.description }}</p>
        </div>
        <div class="mt-2">
            <a href="{% url 'update_product' product.id %}" class="btn btn-warning mr-2">Edit</a>
            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

{% endblock %}