{% extends 'base.html' %}

{% block title %}Edit product{% endblock %}

{% block content %}

<h1 class="mt-5 mb-3">Edit {{ product }}</h1>

<form action="" method="POST">

    {% csrf_token %}

    <div class="mb-2">
        <label for="title" class="form-label">Title</label>
        <input class="form-control" type="text" name="title" id="title" value="{{ product.title }}">
    </div>
    <div class="mb-2">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description" id="description" rows="3">{{ product.description }}</textarea>
    </div>
    <div class="mb-2">
        <label for="price" class="form-label">Price</label>
        <input class="form-control" type="number" name="price" id="price" value="{{ product.price }}">
    </div>
    <div class="mb-2">
        <label for="category" class="form-label">Category</label>
        <select class="form-control" name="category" id="category">
            <option value="">--select--</option>
            {% for category in categories %}

            <option value="{{ category.id }}" {% if product.category == category %}selected{% endif %}>
                {{ category.name }}
            </option>

            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-1">
        Update {{ product.title }}
    </button>
    <a href="{% url 'all_products' %}" class="btn btn-secondary mt-1">Cancel</a>
</form>

{% endblock %}