{% extends 'base.html' %}

{% block title %}Edit product{% endblock %}

{% block content %}

<h1>Edit {{ product }}</h1>

<form action="" method="POST">

    {% csrf_token %}

    <div>
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ product.title }}">
    </div>
    <div>
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5">{{ product.description }}</textarea>
    </div>
    <div>
        <label for="price">Price</label>
        <input type="number" name="price" id="price" value="{{ product.price }}">
    </div>
    <div>
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="">--select--</option>
            {% for category in categories %}

            <option value="{{ category.id }}" {% if product.category == category %}selected{% endif %}>{{ category.name }}</option>

            {% endfor %}
        </select>
    </div>
    <button type="submit">Submit</button>
</form>

{% endblock %}