<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Products</title>
</head>
<body>
    <h1>Django products page</h1>
    <div>
        {% for product in all_products %}
            <div>
                <h1>
                    <a href="/{{ product.id }}">{{ product.title }}</a>
                </h1>
                <p>Price - {{ product.price }}</p>
                <p>{{ product.description }}</p>
                <p style="background-color: aqua;">{{ product.category.name }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>