{% extends 'base.html' %}

{% block title %} List {% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mt-5 mb-3">
    <h1>Django products</h1>
    {% if request.user.is_authenticated %}
    <a href="{% url 'create_new_product' %}" class="btn btn-primary my-2">
        Create product
    </a>
    {% endif %}
</div>

<div class="row">

    {% for product in all_products %}

    <div class="col-12 col-md-3 col-lg-4 mb-3">
        <a href="{{ product.get_absolute_url }}" class="text-dark text-decoration-none">
            <div class="card card-body">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="">
                {% endif %}
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="">
                        {{ product.title | title }}
                    </h4>
                    <p class="fw-bold">₹ {{ product.price }}</p>
                </div>
                <span class="badge rounded-pill bg-secondary text-capitalize mb-1">{{ product.category.name }}</span>
                <p>{{ product.description | truncatechars:15 }}</p>
                <div class="mt-2 text-end">
                    <a href="{% url 'update_product' product.id %}" class="btn btn-warning mr-2">Edit</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </a>
    </div>

    {% empty %}

    <p class="text-center">No products available</p>

    {% endfor %}

</div>

{% endblock %}